$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Saira', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  color: #efefef;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

li {
  color: #f30808;
  font-size: 2rem;
}

header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.9) 100%);
}

#video-background {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  filter: grayscale(50%);
  top: 0;
  left: 0;
  z-index: -1;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #efefef;
  position: relative;
  width: 100%;
  height: 100vh;

  &--title {
    color: #efefef;
  }
}
