html {
  font-size: 62.5%;
}

$breakpoints: (
  'small': (
    min-width: 800px,
  ),
  'medium': (
    min-width: 1000px,
  ),
  'big': (
    min-width: 1200px,
  ),
);

/* horizontal & vertical centering */
.center {
  display: table;
  width: 100%;
  height: 100%;

  &__inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}
