$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Saira', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  color: #efefef;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
